  swiper-container {
    width: 100%;
    height: 100%;
  //  background-image: url('https://unsplash.com/photos/a-dirt-road-in-the-middle-of-a-grassy-field-9BKSdvsRSuA');
    
     // background-color: red;
  }


  img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .slide-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .link-button {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    font-size: 2.5ch;
    color: white;
    background: transparent;
    font-weight: bold;
   // background-color: white;
  }
  .link-but {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    font-size: 2.5ch;
    color: #53BB63;
    background: transparent;
    font-weight: bold;
   // background-color: white;
  }
  
  

  swiper-slide {
      text-align: center;
      position: relative;
      // font-size: 18px;
      // background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  swiper-button-next { color: red; }

  .closeButton {
    color: white;
   // text-shadow: 2px 2px black;
  }

  .bar {
   // text-shadow: 2px 2px black;
    color:#53BB63;
    color: white;
    --background: #53BB63;
    //font-size: 12px;
   // --background: white;
  }

  // ion-icon {
  //   text-shadow: 10px 10px 10px blue;
  // }

  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
    background-color: #53BB63;
    color: #53BB63;
  }

  .swip {
   // width: 2vw;
    //height: 140vh;
   // margin-top: -25vh;
 //  padding-top: 0.8em;
   //position: absolute;
   //left: 0.5em;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }