<ion-header>
  <ion-toolbar>
    <ion-title>Tutorial</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">

      <swiper-container [loop]="false" pagination="true" navigation="true" (swiper)="onSwiper($event)">
        <swiper-slide>
          <img src="https://images.unsplash.com/photo-1687270282079-58b4689fed0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=436&q=80">
        </swiper-slide>
        <swiper-slide>
          <img src="https://images.unsplash.com/photo-1687270282079-58b4689fed0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=436&q=80">
        </swiper-slide>
        <swiper-slide>Slide 3</swiper-slide>
      </swiper-container>

</ion-content>
