<ion-header>
  <ion-toolbar>
    <ion-title>Tutorial</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
 <!-- preferneces,pantr,main,browse,recipe -->
      <swiper-container [loop]="false" pagination="true" navigation="true" >
        <swiper-slide>
          <img src="assets/Preferences.jpg">
        </swiper-slide>
        <swiper-slide>
          <img src="assets/Pantry.jpg">
        </swiper-slide>
        <swiper-slide>
          <img src="assets/Home.jpg">
        </swiper-slide>
          <swiper-slide>
          <img src="assets/Home.jpg">
        </swiper-slide>
       
      </swiper-container>

</ion-content>
