.search {
    margin-top: 3vh;
    margin-bottom: 1vh;
  // --background: white;
    
   // position: fixed;
   // --height: 5vh;
 //  --background-color: var(--ion-color-primary-shade);;
}

.head {
    font-size: 3ch;
}

ion-card {
    width: 85vw;
    height: 30vh;
    margin-bottom: -2vh;
    margin-top: 1vh;
}

ion-avatar {
    width: auto;
    height: 15vh;
    --border-radius:5%;
}

.rowlast {
    margin-bottom: 10vh;
}