body {
  overflow: auto;
}

.search {
  margin-top: 2vh;
  margin-bottom: 0.5vh;
}

.rowfirst {
  margin-top: -2vh;
}

.head {
  font-size: 3ch;
}

ion-card {
  width: 85vw;
  height: 30vh;
  margin-bottom: -2vh;
  margin-top: 1vh;
}

ion-avatar {
  width: auto;
  height: 15vh;
  --border-radius: 5%;
}

.rowlast {
  margin-bottom: 10vh;
}

.no-results {
  text-align: center;
  margin-top: 20%;
  font-size: 20px;
  color: #a9a9a9;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
