body {
    
}

.logo {
    align-items: center;
    margin-top: 7vh;
    margin-left: 5vw;
   // border-radius: 50%;
    height: 17vh;
    width: 37vw;
}

.firstinput {
    margin-top: 7vh;
   // text-align: center;
}

ion-input{
    //--background: #8a8a8a;
    --background : var(--ion-input-background);
    --border-radius: 20px;
    --color: black;
    --padding-bottom: 20px;
    --padding-top: 15px;
    --padding-start: 20px;
    max-width: 85%;
    margin: 0 auto;
}


ion-button {
    --background : var(--ion-color-primary);
    --border-radius: 20px;
    --color: black;
    --padding-bottom: 20px;
    --padding-top: 20px;
    --padding-start: 20px;
    width: 85vw;
    height: 7vh;
    margin-top: 8vh;
    font-size: 2.5vh;
}


a {
   // font-size: 20vh;
    text-align: center;
    width: 100%;
}

.loginlink {
    margin-top: 7vh;
}