body {
    
}

.logo {
    align-items: center;
    margin-top: 7vh;
    margin-left: 5vw;
   // border-radius: 50%;
    height: 17vh;
    width: 37vw;
}

.firstinput {
    margin-top: 7vh;
   // text-align: center;
}




a {
   // font-size: 20vh;
    text-align: center;
    width: 100%;
}