<body>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- <a routerLink = "/pantry"> -->
          <!-- <ion-button> -->
            <ion-button class="btn" (click)="LoadPantryPage()" >
              <ion-icon name="arrow-back" class="back-button"></ion-icon>
            </ion-button>
          <!-- </ion-button> -->
          <!-- </a> -->
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</body>
