<body>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon name="arrow-back" class="back-icon" (click)="LoadPantryPage()"></ion-icon>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-card class="shoplist">
          <ion-card-content class="shop">
            Shopping List
          </ion-card-content>
          <ion-card-content class="list">
            <ul>
              <li>
                Cucumber
              </li>
              <li>
                Whole whaet bread
              </li>
              <li>
                Unions
              </li>
              <li>
                Couscous
              </li>
              <li>
                Chicken Livers
              </li>
              <li>
                Almond milk
              </li>
              <li>
                Protein powder
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-card class="notificationshop">
          <ion-card-content>
            Next shopping day is : 2 June
          </ion-card-content>
        </ion-card>  
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</body>
