.back-icon {
    font-size: 40px;
    margin-left: 5vw;
    margin-top: 2vh;
    color: white;
}

.shoplist {
    color: white;
    width: 80vw;
    height: 72vh;
    border-radius: 13px;
    margin-top: 1vh;
    background-color: var(--ion-color-primary);
}

.shop {
    text-align: center;
    font-size: 3ch;
}

.list {
    margin-top: -2vh;
}

ion-card-content {
    font-size: 2.2ch;
}

.notificationshop {
    width: 80vw;
    height: 7vh;
    margin-top: -1vh;
    border-radius: 13px;
    text-align: center;
    //margin-top : 2vh;
    background-color: var(--ion-color-primary);
    color: white;
}