ion-avatar {
  width: auto;
  height: 15vh;
  --border-radius: 5%;
}

.label-container {
  display: flex;
  align-items: center;
}

.line {
  flex-grow: 1;

  height: 1px;
  background-color: var(--ion-color-primary);
  margin-left: 8px;
  margin-right: 8px;
}

.card-container {
  
  }