ion-avatar {
  width: 100%;
  height: 15vh;
  --border-radius: 0%;

}
ion-item-sliding {
 
  --ion-padding: 0px;
 }

ion-item {
 width: 100%;
 display: block;
 --ion-padding: 0px;




}
ion-card {
  padding: 0%;
  --ion-padding: 0px;
}

.div1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-right: 0px !important;
}

.no-style {
  --padding-start:0;
  --padding-end: 0;
  padding-right: 0%;

}
.side {
  display: inline;
}

.label-container {
  display: flex;
  align-items: center;
}

.line {
  flex-grow: 1;

  height: 1px;
  background-color: var(--ion-color-primary);
  margin-left: 8px;
  margin-right: 8px;
}
