<ion-card *ngFor="let item of todayData" (click)="setOpen(true, item)" color="primary">
  <div *ngIf="item.identifier === 'Breakfast'">
   
    <ion-card-header>
      <ion-card-subtitle>Breakfast</ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.description}}
    </ion-card-content>
    <ion-avatar>
      <img src="{{item.url}}">
    </ion-avatar>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{currentObject.title}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false, null)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-avatar class="background">
          <img  src= "{{currentObject.url}}">
        </ion-avatar>
        <ion-content class="ion-padding">
          <p>{{currentObject.ingredients}}</p> 
         <p>{{currentObject.instructions}}</p> 
         <p>{{currentObject.cookingTime}}</p> 
        </ion-content>
      </ng-template>
    </ion-modal>

  </div>

  <div  *ngIf="item.identifier === 'Lunch'">
    <ion-card-header>
      <ion-card-subtitle>Lunch</ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{item.description}}</ion-card-content>
    <ion-avatar>
      <img src="{{item.url}}">
    </ion-avatar>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{currentObject.title}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false, null)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-avatar class="background">
          <img  src= "{{currentObject.url}}">
        </ion-avatar>
        <ion-content class="ion-padding">
         <p>{{currentObject.ingredients}}</p> 
         <p>{{currentObject.instructions}}</p> 
         <p>{{currentObject.cookingTime}}</p> 
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>

  <div  *ngIf="item.identifier === 'Dinner'">
    <ion-card-header>
      <ion-card-subtitle>Dinner</ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{item.description}}
    </ion-card-content>
    <ion-avatar>
      <img src="{{item.url}}">
    </ion-avatar>
  
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{currentObject.title}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false, null)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-avatar class="background">
          <img  src= "{{currentObject.url}}">
        </ion-avatar>
        <ion-content class="ion-padding">
          <p>{{currentObject.ingredients}}</p> 
         <p>{{currentObject.instructions}}</p> 
         <p>{{currentObject.cookingTime}}</p> 
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-card>

<ion-card *ngFor="let item of tomorrowData" (click)="setOpen(true, item)" color="primary">
  <div *ngIf="item.identifier === 'Breakfast'">
   
    <ion-card-header>
      <ion-card-subtitle>Breakfast</ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.description}}
    </ion-card-content>
    <ion-avatar>
      <img src="{{item.url}}">
    </ion-avatar>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{currentObject.title}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false, null)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-avatar class="background">
          <img  src= "{{currentObject.url}}">
        </ion-avatar>
        <ion-content class="ion-padding">
          <p>{{currentObject.ingredients}}</p> 
         <p>{{currentObject.instructions}}</p> 
         <p>{{currentObject.cookingTime}}</p> 
        </ion-content>
      </ng-template>
    </ion-modal>

  </div>

  <div  *ngIf="item.identifier === 'Lunch'">
    <ion-card-header>
      <ion-card-subtitle>Lunch</ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{item.description}}</ion-card-content>
    <ion-avatar>
      <img src="{{item.url}}">
    </ion-avatar>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{currentObject.title}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false, null)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-avatar class="background">
          <img  src= "{{currentObject.url}}">
        </ion-avatar>
        <ion-content class="ion-padding">
          <p>{{currentObject.ingredients}}</p> 
         <p>{{currentObject.instructions}}</p> 
         <p>{{currentObject.cookingTime}}</p> 
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>

  <div  *ngIf="item.identifier === 'Dinner'">
    <ion-card-header>
      <ion-card-subtitle>Dinner</ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{item.description}}
    </ion-card-content>
    <ion-avatar>
      <img src="{{item.url}}">
    </ion-avatar>
  
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{currentObject.title}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false, null)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-avatar class="background">
          <img  src= "{{currentObject.url}}">
        </ion-avatar>
        <ion-content class="ion-padding">
          <p>{{currentObject.ingredients}}</p> 
         <p>{{currentObject.instructions}}</p> 
         <p>{{currentObject.cookingTime}}</p> 
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-card>

<!-- <ion-card *ngFor="let item of mealsData" (click)="setOpen(true, item)" color="primary">
  <ion-card-header>
    <ion-card-subtitle>Lunch</ion-card-subtitle>
    <ion-card-title>{{item.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>{{item.description}}</ion-card-content>
  <ion-avatar>
    <img src="{{item.url}}">
  </ion-avatar>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{currentObject.title}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false, null)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-avatar class="background">
        <img  src= "{{currentObject.url}}">
      </ion-avatar>
      <ion-content class="ion-padding">
        {{currentObject.recipe}}
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-card>

<ion-card *ngFor="let item of mealsData" (click)="setOpen(true, item)" color="primary">
  <ion-card-header>
    <ion-card-subtitle>Dinner</ion-card-subtitle>
    <ion-card-title>{{item.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{item.description}}
  </ion-card-content>
  <ion-avatar>
    <img src="{{item.url}}">
  </ion-avatar>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{currentObject.title}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false, null)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-avatar class="background">
        <img  src= "{{currentObject.url}}">
      </ion-avatar>
      <ion-content class="ion-padding">
        {{currentObject.recipe}}
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-card> -->
