
<ion-card *ngFor="let item of mealsData" (click)="setOpen(true, item)" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Breakfast</ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.description}}
    </ion-card-content>
    <ion-avatar>
      <img src="{{item.url}}">
    </ion-avatar>
</ion-card>

<ion-card *ngFor="let item of mealsData" (click)="setOpen(true, item)" color="primary">
  <ion-card-header>
    <ion-card-subtitle>Lunch</ion-card-subtitle>
    <ion-card-title>{{item.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>{{item.description}}</ion-card-content>
  <ion-avatar>
    <img src="{{item.url}}">
  </ion-avatar>
</ion-card>

<ion-card *ngFor="let item of mealsData" (click)="setOpen(true, item)" color="primary">
  <ion-card-header>
    <ion-card-subtitle>Dinner</ion-card-subtitle>
    <ion-card-title>{{item.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{item.description}}
  </ion-card-content>
  <ion-avatar>
    <img src="{{item.url}}">
  </ion-avatar>
</ion-card>
