<ion-header>
  <ion-toolbar>
    <ion-title>What's on the Menu?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="color: black"
        >What's on the Menu?</ion-title
      >
    </ion-toolbar>
  </ion-header>

  <ion-list lines="inset" class="list-container">
    <app-daily-meals *ngFor="let item of daysMeals" [dayData]="item">
    </app-daily-meals>
  </ion-list>
</ion-content>
