<!-- popularMeals display cards -->
<!-- <ng-container *ngIf="!Searched">
  
<ion-card  (click)="setOpen(true, item)" color="primary">
  <ion-card-header>
    <ion-card-title class="head">{{mealsData.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   {{mealsData.description}}
  </ion-card-content>
<ion-avatar>
  <img src="{{mealsData.url}}">
  <img alt="{{mealsData.url}}">

</ion-avatar>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{mealsData.name}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false,null)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-avatar class="background">

      <img src="{{mealsData.url}}">
      <img alt="{{mealsData.url}}"> 

    </ion-avatar>
    <ion-content class="ion-padding">
      <p>{{mealsData.ingredients}}</p> 
     <p>{{mealsData.instructions}}</p> 
     <p>{{mealsData.cookingTime}}</p> 
    </ion-content>
  </ng-template>
</ion-modal>
</ion-card>
</ng-container> -->


<!-- searchedMeals display cards -->
<!-- <ng-container *ngIf="Searched">
  heloooo
  <ion-card  (click)="setOpen(true, thing)" color="primary">
    <ion-card-header>
      <ion-card-title class="head">{{searchData.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     {{searchData.description}}
    </ion-card-content>
  <ion-avatar>
  <img src="{{searchData.url}}">
  <img alt="{{searchData.url}}"> 
      
  </ion-avatar>
  
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{searchData.name}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false,null)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-avatar class="background"> 
  
         <img src="{{searchData.url}}">
         <img alt="{{searchData.url}}"> 
      </ion-avatar>
      <ion-content class="ion-padding">
        <p>{{searchData.ingredients}}</p> 
       <p>{{searchData.instructions}}</p> 
       <p>{{searchData.cookingTime}}</p> 
      </ion-content>
    </ng-template>
  </ion-modal>
  </ion-card>
  </ng-container> -->

<ion-card *ngIf="mealsData" (click)="setOpen(true, item)" color="primary">
  <ion-card-header>
    <ion-card-title class="head">{{mealsData.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  {{mealsData.description}}
  </ion-card-content>
  <ion-avatar>
    <img src="{{mealsData.image}}">
    <img alt="{{mealsData.image}}">

  </ion-avatar>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{mealsData.name}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false,null)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-avatar class="background">

        <img src="{{mealsData.image}}">
        <img alt="{{mealsData.image}}"> 

      </ion-avatar>
      <ion-content class="ion-padding">
        <p>{{mealsData.ingredients}}</p> 
      <p>{{mealsData.instructions}}</p> 
      <p>{{mealsData.cookingTime}}</p> 
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-card>
