<ion-card (click)="setOpen(true, null)" color="primary">
  <ion-card-header>
    <ion-card-title class="head">{{meal.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   {{meal.description}}
  </ion-card-content>
<ion-avatar>
  <img src="{{meal.url}}">
</ion-avatar>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{meal.name}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false,null)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-avatar class="background">
      <img  src= "{{meal.url}}">
    </ion-avatar>
    <ion-content class="ion-padding">
      <p>{{meal.ingredients}}</p> 
     <p>{{meal.instructions}}</p> 
     <p>{{meal.cookingTime}}</p> 
    </ion-content>
  </ng-template>
</ion-modal>
</ion-card>