ion-input{
    --background: #8a8a8a;
    --border-radius: 20px;
    --color: black;
    --padding-bottom: 20px;
    --padding-top: 20px;
    --padding-start: 20px;
    max-width: 90%;
    margin: 0 auto;
}

ion-button{
    max-width: 90%;
    margin: 0 auto;
}