.logo {
    align-items: center;  
   // border-radius: 50%;
    height: 230px;
    width: 230px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
}

.firstinput {
    margin-top: 7vh;
   // text-align: center;
}

.alert {
    color: red;
    font-size: small;
    margin-left: 10%;
    padding-bottom: 5px;
}
.hidden {
    visibility: hidden;
}

ion-input{
    //--background: #8a8a8a;
    --background : var(--ion-input-background);
    --border-radius: 20px;
    --color: black;
    --padding-bottom: 20px;
    --padding-top: 15px;
    --padding-start: 20px;
    max-width: 85%;
    margin: 0 auto;
}


ion-button {
    --background : var(--ion-color-primary);
    --border-radius: 20px;
    --color: black;
    --padding-bottom: 20px;
    --padding-top: 20px;
    --padding-start: 20px;
    width: 85vw;
    height: 7vh;
    margin-top: 15vh;
    font-size: 2.5vh;
}


a {
   // font-size: 20vh;
    text-align: center;
    width: 100%;
}

.firstlink {
    margin-top: 1vh;
}

.signup {
    width: 100%;
    text-align: center;
    margin-top: 10vh;
}