<ion-header>
  <ion-toolbar>
    <ion-title>{{ item.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img [src]="item.image" [alt]="item.name"></ion-img>
  <div *ngIf="notSaved()">
    <ion-button (click)="addRecipe(item)" class="savebutton" fill="outline" shape="round" color="black">
      <ion-icon slot="start" name="bookmark-outline"></ion-icon> 
      Save to Recipe Book
    </ion-button>
  </div>
</ion-content>