<body>
    <ion-grid>
      <ion-row class="rowfirst">
        <ion-col class="cards">

          <ion-card button="true" color="primary">
            <ion-card-header>
              <ion-card-title class="head">Greek Salad with Chicken</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              A light and refreshing salad featuring a flavorful and protein-packed option for a healthy meal prep.
            </ion-card-content>
          <ion-avatar>
            <img src="https://images.unsplash.com/photo-1580013759032-c96505e24c1f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1818&q=80">
          </ion-avatar>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</body>