<ion-header [translucent]="true">
  <ion-toolbar style="height: 110px; padding-top: 60px;">
    <ion-title class="ion-text-center" size="large">Recipe Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding-top: 30px; padding-left: 20px; padding-right: 20px;">
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <ion-icon name="close" class="close-icon"></ion-icon>
          <div class="image-container" style="background-image: url('https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');">
            <div class="card-title">Salmon</div>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <ion-icon name="close" class="close-icon"></ion-icon>
          <div class="image-container" style="background-image: url('/assets/img2.jpg');">
            <div class="card-title">Stir-fry</div></div>
        </ion-card>
      </ion-col>    
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <ion-icon name="close" class="close-icon"></ion-icon>
          <div class="image-container" style="background-image: url('/assets/img4.jpg');">
            <div class="card-title">Pancakes</div></div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-no-margin">
          <ion-icon name="close" class="close-icon"></ion-icon>
          <div class="image-container" style="background-image: url('/assets/img3.jpg');">
            <div class="card-title">Raspberry Fruit Salad</div>
          </div>
        </ion-card>
      </ion-col>      
    </ion-row>    
  </ion-grid>
</ion-content>


