<ion-header>
  <ion-toolbar>
    <ion-title>Recipe Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recipe Book</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid style="padding-top: 30px; padding-left: 20px; padding-right: 20px;">
    <app-recipe-item #recipeItem></app-recipe-item>
    <ion-row *ngIf="items.length > 0; else emptyState">
      <ion-col size="6" *ngFor="let item of items">        
        <ion-card class="ion-no-margin" (click)="recipeItem.openModal(item)">
          <ion-icon name="close" class="close-icon" (click)="confirmRemove(item)"></ion-icon>
          <div class="image-container" [style.background-image]="'url(' + item.image + ')'">
            <div class="card-title">{{ item.title }}</div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>    
  </ion-grid>

  <ng-template #emptyState>
    <div class="empty">
      No saved recipes yet  
    </div>
  </ng-template>
</ion-content>