<ion-modal [isOpen]="modalOpen">
  <ng-template>
    <ion-header>
        <ion-toolbar>
          <ion-title>{{ item?.name }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-avatar>
        <ion-img [src]="item?.image" [alt]="item?.name"></ion-img>
      </ion-avatar>
    
      <ion-content class="ion-padding">        
        <ion-button (click)="liked(item!)" class="likebutton" fill="outline" shape="round" color="black">
          <ion-icon name="thumbs-up-outline"></ion-icon>
        </ion-button>
        <p style="padding-top: 35px;">{{ item?.description }}</p>
        <h4>Preparation Time</h4>
        <p>{{ item?.cookingTime }}</p>
        <h4>Ingredients</h4>
          <ul>
            <li *ngFor="let ingredient of fIng">{{ ingredient }}</li>
          </ul>
        <h4>Instructions</h4>
          <ol>
            <li *ngFor="let instruction of fIns">{{ instruction }}</li>
          </ol>
      </ion-content>
      </ng-template>
</ion-modal>