
<ion-card class="ion-no-margin" (click)="setOpen(true, null)">
  <ion-icon name="close" class="close-icon"></ion-icon>
  <div class="image-container" [style.background-image]="'url(' + meal.url + ')'">
    <div class="card-title">{{ meal.name }}</div>
  </div>

<ion-modal [isOpen]="isModalOpen">
<ion-header>
  <ion-toolbar>
    <ion-title>{{ meal.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="setOpen(false, null)">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"/>
</ion-content>
</ion-modal>
</ion-card>