body {
  //  --ion-background-color: white;
   // text-align: center;
   //flex-wrap: wrap;
    display: flex;
}

.shop {
    text-align: center;
}

// .try {
//     width: 80vw;
//     margin-top: 5vh;
//     border-radius: 15px;
//     height: 7vh;
// }

// .shopbutton {
//     margin-top: 60px;
//     width: 80vw;
    
//   //  margin-left: 25px;
//   //  margin-right: 30px;
//     margin-bottom: 0;
//     width: 330px;
//     --background : rgb(204, 204, 204);
//     color: black;
//     --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
//     border: 1px solid grey;
//     border-radius: 15px;
//     font-size: 2ch;
// }

.shopfont {
    font-size: 1.2rem;
    text-align: center;
}

ion-card-content {
    font-size: 1rem;
}

.shopbutton {
    margin-top: 4vh;
   // display: flex;
    --background : var(--ion-color-primary);
    width: 80vw;
    border-radius: 15px;
    color: white;
  //  margin-top: vh;
    text-align: center;
    margin-bottom: 0;
    text-size-adjust: 4ch;
    --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
   // border: 1px solid grey;
  //  border-radius: 0px;
    border: var(--ion-color-primary-shade);
    height: 6vh;
    z-index: -1;
    font-size: 1.2rem;
   // padding-top: 1.5vh;
}

.prent {
    margin-top: 0.5vh;
    width: 4rem;
    height: 4rem;
    --border-radius: 15%;
}

.col {
    width: 100%;
    //text-align: center;
    font-size: 1.7ch;
    margin-top: 2.5vh;
   // margin-left: -2vw;
}


.card {
    //text-align: center;
   // margin-left: 25px;
   z-index: -1;
   display: flex;
    z-index: -1;
    margin-top: 5vh;
    width: 80vw;
    border-radius: 10px;
    height: 80vh;
    --background : var(--ion-color-primary);
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
   // font-size: 2ch;
}

.mylist {
    font-size: 2ch;
}

.plusbutton {
    margin-top: -12vh;
    margin-left: 12vw;

    width: 60px;
    height: 60px;
    font-size: 4ch;
    --background : var(--ion-color-secondary);
    color: white;
    --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
   // border: 1px solid black;
    //border-radius: 50%;
}