body {
    --ion-background-color: white;
    
}

.shopbutton {
    
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 30px;
    margin-bottom: 0;
    width: 330px;
    --background : rgb(204, 204, 204);
    color: black;
    --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid grey;
    border-radius: 15px;
    font-size: 2ch;
}

.card {
    margin-left: 25px;
    margin-top: 15px;
    width: 325px;
    border-radius: 15px;
    height: 600px;
    --background : rgb(204, 204, 204);
    color: black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
   // font-size: 2ch;
}

.mylist {
    font-size: 2ch;
}

.plusbutton {
    margin-top: -70px;
    margin-left: 300px;
    width: 60px;
    height: 60px;
    font-size: 4ch;
    --background : rgb(155, 153, 153);
    color: black;
    --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
   // border: 1px solid black;
    //border-radius: 50%;
}