.empty-list{
    text-align: center;
    margin-top: 20%;
    font-size: 20px;
    color: #a9a9a9;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.list{
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-toolbar{
    --border-width: 0px;
}

ion-content{
    --padding-bottom: 80px;
}