 <body> 
  <ion-content [fullscreen]="true">
  <ion-grid class="grid">
    <!-- <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button class="shopbutton" (click)="LoadShoppingPage()">
          Shopping List
        </ion-button>
    </ion-col>
    <ion-col></ion-col>
      
    </ion-row> -->
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
      <ion-card class="card">    
        <ion-card-content>
          <ion-grid>
            <ion-row >
              <ion-col size="5">
                <ion-avatar class="prent"><img src="https://images.unsplash.com/photo-1519996409144-56c88c9aa612?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"></ion-avatar>
              </ion-col>
              <ion-col class="col">Brown Rice</ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="5">
                <ion-avatar class="prent"><img src="https://images.unsplash.com/photo-1519996409144-56c88c9aa612?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"></ion-avatar>
              </ion-col >
              <ion-col class="col">Olives</ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="5">
                <ion-avatar class="prent"><img src="https://images.unsplash.com/photo-1519996409144-56c88c9aa612?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"></ion-avatar>
              </ion-col>
              <ion-col class="col">Chicken breasts</ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="5">
                <ion-avatar class="prent"><img src="https://images.unsplash.com/photo-1519996409144-56c88c9aa612?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"></ion-avatar>
              </ion-col>
              <ion-col class="col">Green beans</ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="5">
                <ion-avatar class="prent"><img src="https://images.unsplash.com/photo-1519996409144-56c88c9aa612?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"></ion-avatar>
              </ion-col>
              <ion-col class="col">Couscous</ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="5">
                <ion-avatar class="prent"><img src="https://images.unsplash.com/photo-1519996409144-56c88c9aa612?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"></ion-avatar>
              </ion-col>
              <ion-col class="col">Tamatoes</ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="5">
                <ion-avatar class="prent"><img src="https://images.unsplash.com/photo-1519996409144-56c88c9aa612?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"></ion-avatar>
              </ion-col>
              <ion-col class="col">Red unions</ion-col>
            </ion-row>
          </ion-grid>
          <!-- <ul class="mylist">
            <li><img src="https://images.unsplash.com/photo-1519996409144-56c88c9aa612?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"></li>
            <li>Pasta</li>
            <li>Tomato sauce</li>
            <li>Flour</li>
            <li>Avocados</li>
            <li>Brown rice</li>
            <li>Mixed veggies</li>
            <li>Peanut butter</li>
            <li>Carrots</li>
            <li>Chicken breasts</li>
            <li>Peri-peri sauce</li>
            <li>Lean mince</li>
            <li>Olives</li>
            <li>Sugar</li>
            <li>Peppers</li>
            <li>Canned beans</li>
          </ul> -->
        </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button shape="round" class="plusbutton">+</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</body>


