<ion-item-sliding *ngIf="isVisible">
  <ion-item-options side="start" (ionSwipe)="openDeleteSheet()">
    <ion-item-option color="danger" (click)="openDeleteSheet()" expandable>
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
    
  </ion-item-options>

  <ion-item lines="full" [ngClass]="{'low-quantity': item.quantity !== null && item.quantity !== 0 && item.quantity < 5 && segment === 'pantry',
                                    'low-weight': item.weight !== null && item.weight !== 0 && item.weight < 50 && segment === 'pantry'}">
    <ion-label slot="start">
      {{ item.name }}
    </ion-label>
    <ion-label slot="end" *ngIf="item.quantity !== null && item.quantity!== 0">
      {{ item.quantity }}
    </ion-label>
    <ion-label slot="end" *ngIf="item.weight !== null && item.weight !== 0">
      {{ item.weight }}g
    </ion-label>
  </ion-item>

  <ion-item-options side="end" (ionSwipe)="openAddToPantrySheet()">
    <ion-item-option color="primary" (click)="openEditPicker()">
      <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option color="secondary" (click)="openAddToPantrySheet()" *ngIf="this.segment === 'shopping'" expandable>
      <ion-icon slot="icon-only" name="cart"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>