ion-button.logout{
    width: 80%;
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 16%;
    left: 10%;
    right: 10%;
}

ion-button.delete{
    width: 80%;
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 9%;
    left: 10%;
    right: 10%;
}