<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button size="small" (click)="goBack()"><ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-card>
      <ion-list>
        <ion-label>Username</ion-label>
        <ion-item>
        Franko
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        example@gmail.com
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        .......
      </ion-item>
      </ion-list>
    </ion-card>
</ion-content>

