<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-button class="help-button">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button size="small" (click)="goBack()"><ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label>Username</ion-label>
          {{user.username}}
        </ion-item>
        <ion-item>
          <ion-label>Email</ion-label>
          {{user.email}}
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          ********
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-button expand="block" color="danger" (click)="logout()">Logout</ion-button>
</ion-content>

